In [2]:
import pandas as pd
import xarray as xr

In [49]:

# ex = xr.open_dataset('MDK_ocean_230714_T.nc')
# ex = xr.open_dataset('../../../../../MEDSLIK_II_2.02/METOCE_INP/PREPROC/OCE/211014_U.nc')

In [50]:
hour_1 = ex.isel(time_counter=0)

In [80]:
for file in ['230715_V.nc','230715_U.nc','230715_T.nc']:

    ex = xr.open_dataset(file)
    hour_1 = ex.isel(time_counter=0)
    if '_T' in file:
        hour_1 = hour_1.isel(depth=0)  
    df = hour_1.to_dataframe().reset_index()
    df = df.fillna(9999)
    df = df.drop(['time_counter'],axis=1)
      
    # df = df.drop(['depth'],axis=1)
    if '_V' in file:
        df_v = df.pivot(index = ['nav_lat','nav_lon'],columns='depth',values = 'vomecrty').reset_index().sort_values(['nav_lon','nav_lat'])
        df_v.columns = ['lat','lon','v_srf','v_10m','v_30m','v_120m']
    if '_U' in file:
        df_u = df.pivot(index = ['nav_lat','nav_lon'],columns='depth',values = 'vozocrtx').reset_index().sort_values(['nav_lon','nav_lat'])
        df_u.columns = ['lat','lon','u_srf','u_10m','u_30m','u_120m']
    if '_T' in file:
        df_t = df.pivot(index = ['nav_lat','nav_lon'],columns='depth',values = 'votemper').reset_index().sort_values(['nav_lon','nav_lat'])
        df_t.columns = ['lat','lon','SST']
df = df_u.merge(df_v)
df = df.merge(df_t)
df = df[['lat','lon','SST','u_srf','v_srf','u_10m','v_10m','u_30m','v_30m','u_120m','v_120m']]

In [81]:
for h in range(1,25):
    with open(f'merc230715{h:02d}', 'w') as f:
        f.write(f"Ocean forecast data for 15/07/2023 {h:02d}:00\n")
        f.write("Subregion of the Global Ocean:\n")
        f.write("40.48  41.48  17.5 18.5   25   25   Geog. limits\n")
        f.write("625   0.0\n")
        f.write("lat        lon        SST        u_srf      v_srf      u_10m      v_10m       u_30m      v_30m      u_120m     v_120m\n")
        
        for index, row in df.iterrows():
            f.write(f"{row['lat']:.4f}    {row['lon']:.4f}    {row['SST']:.4f}     {row['u_srf']:.4f}    {row['v_srf']:.4f}     {row['u_10m']:.4f}    {row['v_10m']:.4f}     {row['u_30m']:.4f}    {row['v_30m']:.4f}     {row['u_120m']:.4f}    {row['v_120m']:.4f}\n")

,lat,lon,SST,u_srf,v_srf,u_10m,v_10m,u_30m,v_30m,u_120m,v_120m
0,40.479168,17.5,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
1,40.520832,17.5,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
2,40.562500,17.5,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
3,40.604168,17.5,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
4,40.645832,17.5,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
...,...,...,...,...,...,...,...,...,...,...,...
620,41.312500,18.5,26.804449,-0.021329,0.066983,0.001612,0.087397,0.000248,0.033118,0.006941,-0.012269
621,41.354168,18.5,26.827446,-0.034114,0.083600,-0.008237,0.103004,-0.000095,0.045520,0.011607,0.004150
622,41.395832,18.5,26.865931,-0.049896,0.096515,-0.021406,0.116717,-0.006654,0.058988,0.009652,0.022098
623,41.437500,18.5,26.922174,-0.066961,0.104527,-0.040181,0.127372,-0.025174,0.068115,-0.002984,0.031670
624,41.479168,18.5,26.985023,-0.080606,0.109544,-0.058545,0.136082,-0.055614,0.071628,-0.048959,0.029003

In [85]:
df.lon.max()

18.5